/* index.php */
body, html {
	margin: 0;
	font-family: arial;
	overflow-x: hidden;
}

h1 {
	text-align: center;
}

#content {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
}

#content > .product-section {
	width: 9.5vw;
	height: 10vw;
	margin: 3vw auto;
	border: solid #000 2px;
	border-radius: 10px;
}

#content > .product-section > p {
	margin: auto;
	text-align: center;
	font-size: 2vw;
}

#content > .product-section > .product {
	border-radius: 8px 8px 0 0;
	border-bottom: solid #000 2px;
}

#content > .product-section > .price {
	margin: 1vw auto;
}

#flex {
	display: flex;
	justify-content: space-around;
	border: solid #000 3px;
	padding: 3vw;
	margin: 3vw;
	border-radius: 10px;
}

#flex > #log {
	height: 20vw;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 50vw;
}

#flex > #log > iframe {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

h3 {
	margin: 0 auto;
	text-align: center;
}

#transact-form {
	width: 30vw;
	justify-content: space-between;
	margin: auto;
}

#transact-form > input, select {
	border: solid #000 1px;
	border-radius: 5px;
	margin: 10px 0;
}

#transact-form > input {
	width: 29.5vw;
	cursor:  pointer;
}

#transact-form > select, select > option {
	width: 30vw;
	cursor: pointer;
}

#transact-form > input[type=submit] {
	width: 30vw;
}

#comment {
	display: flex;
	justify-content: center;
	color: #000;
	text-decoration: none;
}

#comment:hover {
	text-decoration: underline #000;
}

#chat-iframe, #iframe {
	border: solid #000 3px;
	border-radius: 10px;
	margin: 3vw;
	width: 94vw;
	height: 40vh;
	min-height: 250px;
}

hr {
	width: 80%;
	margin: auto: ;
}

#buttons {
	text-align: center;
}

#buttons > button {
	border: solid #000 2px;
	background: #FFF;
	border-radius: 3px;
	cursor: pointer;
}

#chat, #guide {
	display: none;
}

#chat-flex {
	display: flex;
	justify-content: space-between;
	width: 90vw;
	margin:  0 5vw 100px 5vw;
}

#chat-flex > input[type=text] {
	width: 65vw;
	border: solid #000 1px;
	border-radius: 4px;
}

#chat-flex > input[type=submit] {
	width: 20vw;
	border: solid #000 1px;
	border-radius: 4px;
}

@media only screen and (max-width: 375px) {
	#content > .product-section {
		border-radius: 5px;
	}
	#content > .product-section > .product {
		border-radius: 3px 3px 0 0;
	}
	h1 {
		font-size: 60%;
	}
}

@media only screen and (max-width: 500px) {
	#content > .product-section {
		width: 14vw;
	}

	#transact-form {
		height: 50vw;
	}

	#log {
		height: 50vw !important;
		font-size: 70%;
	}
}






/* connection.html */
#connect-form {
	margin: 100px auto;
	border: solid #000 3px;
	border-radius: 10px;
	width: 40vw;
	display: flex;
	flex-direction: column;
}

#connect-form > input {
	width: 50%;
	border: solid #000 1px;
	border-radius: 5px;
	margin: 10px auto;
}

input[type=submit] {
	cursor: pointer;
}

#error {
	background: #d12323;
	border-radius: 0 0 7px 7px;
	text-align: center;
	margin: 0;
	color: #fff;
}
